.body {
    overflow-x: hidden;
}
.content {
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding-top: 61px;
}
.video {
    display: block;
    margin: 0 auto;
    height: 110%;
    width: 100vw;
}
.slideshow__btn {
    transition: 0.25s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}
.btn__left{
    left: 0;
}
.btn__right {
    right: 0;
}
.arrow {
    height: 25px;
    filter: opacity(0.1);
    margin: 0 auto;
}
.left {
    transform: rotateY(200deg);
}
.slideshowarea:hover .slideshow__btn {
    background-color: #99959575;
    
}
.slideshowarea:hover .slideshow__btn .arrow {
    filter: opacity(1);
    filter: invert(1);
}

.helparea{
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}
.help__text {
    width: 80%;
}
.helparea__title {
    text-align: center;
    font-size: 45px;
    width: 95%;
    color: #0053A1;
    font-weight: bold;
    margin-bottom: 60px;
}

.close {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.login {
    position: absolute;
    top: 10%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    height: 400px;
    width: 400px;
    padding: 50px;
    gap: 30px;
    background-color: white;
    box-shadow: 0px 0px 1px 1000px rgba(0, 0, 0, 0.808);
}
.login__title {
    color: #000000f1;
    font-size: 25px;
}
.login__input__area {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.login__input {
    outline: none;
    border: none;
    border-bottom: solid 2px #0095f8be;
    font-size: 25px;
}
.login__input::placeholder {
    font-size: 15px;
    font-weight: 100;
}   
.login__btn {
    height: 40px;
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    background-color: #0095f8be;
    outline: none;
    border: none;
    cursor: pointer;
}
.recover__password {
    text-decoration: none;
    color: #0095f8be;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
}
.hamburguer__menu, .mob__menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu__btns__container {
        display: none;
    }
    .video {
        margin-bottom: 40px;
    }
    .helparea__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .hamburguer__menu {
        display: block;
        position: relative;
        background-image: url("/img/icons/menu_icons/hamburguer.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 40px;
        width: 40px;
        filter: opacity(0.9);
    }
    .mob__menu {
        position: absolute;
        display: grid;
        grid-template-rows: 100px 80px 80px 80px;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 0;
        right: -700;
        background-color: white;
        height: 100vh;
        width: 80%;
        box-shadow: 0px 0px 50px 100px rgba(0, 0, 0, 0.808);
        padding: 40px 0 40px 0;
        transition: 0.2s;
    }
    .menu__btn {
        border-bottom: 1px solid rgba(0, 0, 255, 0.144);
        padding: 40px;
    }
    .mob__logo{
        width: 200px;
        height: 60px;
    }
}